<footer>
    <hr>
    {% for soc in site.social %}
    <a class="soc" href="{{ soc.link }}" title="{{ soc.name }}">{{ soc.name }}</a> | 
    {% endfor %}
	<a href="https://github.com/athul/archie">Archie Theme</a> | Built with <a href="https://lockdownblog.xyz">Lockdown</a>
</footer>